---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Nous sommes là pour vous aider.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contacter France CV</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Une question sur France CV, l’IA ou les tarifs ? Remplissez le
          formulaire, écrivez-nous ou appelez-nous.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Paris, France</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:contact@francecv.app"
              >contact@francecv.app</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+33 1 23 45 67 89">+33 1 23 45 67 89</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>

